
@{
    ViewBag.Title = "AdvisoryCouncil";
}

<div class="row team vets">
    <div class="col-md-12">
        <div class="row team-intro text-center tan1 background">
            <div class="col-md-12">
                <div class="inner">
                    <h2 class="brown">
                        Veterinary Advisory Council
                    </h2>
                    <h4 class="brown">
                        We are fortunate to have an incredible group of professional advisors who bring a wealth of knowledge, training and formal education to the pawTree<sup>®</sup> family.
                    </h4>
                    <p>
                        We have deliberately included not only advisors who are respected by their peers and experts in their chosen fields but also experts with diverse backgrounds which allows us to address unique needs of pet parents. Our advisors have experience with product development and formulation, publishing, public speaking and decades of combined experience in clinical and hospital care. We have taken great care to select advisors who have varied backgrounds and experiences to help ensure the best possible overall product and experience for our pawTree<sup>®</sup> pet parents and their pets.
                    </p>
                </div>
            </div>
        </div>
        <div class="row team-members tan1 background">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="team-member">
                    <div class="hover">
                        <img alt="Bernadine Cruz" src="/bento/img/team/bernadine.png" title="Bernadine Cruz" />
                        <p class="name">
                            <strong>Bernadine Cruz,</strong>
                        </p>
                        <p class="title">
                            <strong>D.V.M.</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Dr. Bernadine D. Cruz is an associate veterinarian at Laguna Hills Animal Hospital, Laguna Hills, Calif. She specializes in companion animal medicine and has been practicing veterinary medicine for more than 20 years.
                                    </p>
                                    <p>
                                        Dr. Cruz received her doctor of veterinary medicine degree from the University of California at Davis School of Veterinary Medicine. She is a certified member of the Association of American Veterinary Journalist.
                                    </p>
                                    <p>
                                        She is a nationally active speaker on general pet care, emergency preparedness and veterinary medicine. Dr. Cruz is a veterinary consultant for several national television programs, and has extensive experience across all media. She hosted a one-hour live pet show on the Orange County News Channel for five years. Dr. Cruz has appeared the A&amp;E network, Discovery Channel and the Home and Garden Channel. She has addressed pet health concerns on local as well as national television news broadcasts such as the Today Show and Early Show. Dr. Cruz was the source of pet care education to listeners on KKGO in Los Angeles for over two years. She also graced the airwaves on the CBS radio affiliate in Los Angeles, &quot;KNX 10.70 News Radio&quot; with pet health tips. She presently can be seen in thousands of veterinary offices coast to coast on the educational DVD series &quot;PetCare TV,&quot; and provides answers to Internet-using pet owners on WebMD as one of AVMA's expert consultants.
                                    </p>
                                    <p>
                                        Dr. Cruz assisted in the development of the &quot;First Aid for Pets: Dogs &amp; Cats&quot; course endorsed by the American Red Cross and the Humane Society of the United States. Among other distinguished roles, she was chair of the American Veterinary Medical Association's Council on Communications.
                                    </p>
                                    <p>
                                        Dr. Cruz is a veterinarian who takes it to the people. She has served as a volunteer veterinarian for the Iditarod Dog Sled Race, 'the Last Great Race' in Alaska as well as the 1,000 mile Yukon Quest Sled Dog Race in 2009. Her three cats, Divot, Zimzala and Lydia aren't impressed with her credentials, they just call her 'Meow-om.'
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Tony Kremer" src="/bento/img/team/tony.png" title="Tony Kremer" />
                        <p class="name">
                            <strong>Tony Kremer,</strong>
                        </p>
                        <p class="title">
                            <strong>D.V.M.</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Dr. Tony Kremer owns six veterinary hospitals in the Chicago, IL and Columbus, OH area and is the founder of Help Save Pets, an animal shelter that has saved more than 10,000 homeless pets.
                                    </p>
                                    <p>
                                        Dr. Kremer attended University of Illinois in Urbana, Illinois where he graduated with a degree in Veterinary Medicine. He is also a member of the Chicago Veterinary Medical Association Public Education Committee and a certified Veterinary Journalist.
                                    </p>
                                    <p>
                                        In an effort to get the word out about responsible pet care, he has been a regular guest on NBC-5 Chicago television for 10 years. He also frequently appears on ABC 7 Chicago and FOX television. He has been a contributor for numerous newspapers including the Chicago Tribune and the Chicago Sun Times. Dr. Tony hosts a weekly talk show on WJOL in Chicago called Pet Lifestyle Radio.
                                    </p>
                                    <p>
                                        Recently, Dr. Tony has hit the information highway answering concerned pet owners' questions on PetDocsOnCall.com and MedHelp.org.
                                    </p>
                                    <p>
                                        In his free time he is a motorcyclist, guitarist, marathon runner, triathlete and advanced open water diver. He has always had pets since he was a young boy. Today he and his wife have two cats, two dogs, fish and a Quarterhorse named Tango.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Dani McVety" src="/bento/img/team/dani.png" title="Dani McVety" />
                        <p class="name">
                            <strong>Dani McVety,</strong>
                        </p>
                        <p class="title">
                            <strong>D.V.M.</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        In addition to her role as a hospice veterinarian and co-founder of the nation’s largest service dedicated to veterinary end of life care, Dr. Dani McVety is an international speaker, author, and host for PetCareTV.
                                    </p>
                                    <p>
                                        With a deep love for the human-animal bond, Dr. McVety found her calling while volunteering with human hospice before veterinary school. She knew she wanted to bring the same passion and respect for life that hospice upholds into her amazing profession. Just months after graduation she formed Lap of Love Veterinary Hospice in Tampa, Florida and quickly joined forces with her friend and classmate, Dr. Mary Gardner. In just over 4 years they have built one of the most unique businesses in the veterinary industry, and now partner with over 80 of the most compassionate doctors around the country; this remains their greatest source of pride.
                                    </p>
                                    <p>
                                        Dr. McVety frequently writes and speaks for professional and lay audiences in hopes of empowering both parties to seek the highest standards of care. Dr. McVety and Lap of Love have been featured on numerous local, national, and professional media outlets including ABC, Fox 13, Associated Press, The New York Times, Washington Post, Entrepreneur Magazine, Huffington Post, and many more.
                                    </p>
                                    <p>
                                        She proudly graduated from the University of Florida College of Veterinary Medicine and is the youngest recipient of both the college’s Distinguished Young Alumni Award (2013) and the Florida Veterinary Medical Association's President's Award (2014). She was also named 2016 Pet Industry Woman of the Year.
                                    </p>
                                    <p>
                                        Her 10-year-old American Hairless Terrier, Secco, is her little piece of velcro every day. Most times she’s curled on her lap in her office or snuggled under the covers on the couch at home. And true to her terrier nature, she will defend her territory ferociously, and loves her family intensely.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Sandy Willis" src="/bento/img/team/sandy.png" title="Sandy Willis" />
                        <p class="name">
                            <strong>Sandy Willis,</strong>
                        </p>
                        <p class="title">
                            <strong>D.V.M.</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Dr. Sandy Willis is the small animal internal medicine specialist for Phoenix Laboratory in Mukilteo, Washington. Dr. Willis helps veterinarians in the Pacific Northwest with interpretation of blood work, diagnostic testing, and treatment of disease in small animals. She also facilitates their Continuing Education program consisting of wet labs and seminars on diagnostic testing, communications and internal medicine.
                                    </p>
                                    <p>
                                        Dr. Willis is originally from Los Angeles. She graduated from the UC Davis School of Veterinary Medicine, completed a small animal internship at the University of Minnesota and a residency and master’s program at the University of Saskatchewan. She is board certified in the American College of Veterinary Internal Medicine (ACVIM).
                                    </p>
                                    <p>
                                        Dr. Willis is passionate about serving the bond that people have with their pets through proactive pet health care, both wellness and disease management. She advocates for comprehensive pet health care particularly through co-managed care and the primary care veterinarian/specialist team. She is a founding board member of VetSOAP, Veterinary Specialists Outreach and Awareness Project, which serves to promote this collaboration. But Dr. Willis also believes that the third leg of the triangle of care around the pet, the pet owner, is paramount. Much of her involvement in the veterinarian community has been around communications. She is past chair of the ACVIM Marketing and Communications Committee and was instrumental in the launch of Animal Survivor, a public relations event by the ACVIM to showcase pet owners talking about how specialists helped treat disease in their pets. Dr. Willis hosted the talk radio program “Ask the Vet” in the Seattle Market for ten years, and has served as a veterinary resource for print, radio and television.
                                    </p>
                                    <p>
                                        Dr. Willis got her start in organized veterinary medicine in SKCVMA (now PSVMA) public information and later served as president for two terms, 1998-2000. Dr. Willis is also past president of the Washington State Veterinary Medical Association, currently serves as program chair of the WSVMA annual conference and is the alternate delegate from Washington to the AVMA House of Delegates. She was recently elected to the AVMA House Advisory Committee and serves as a site visitor for the AVMA Council on Education. Dr. Willis is board chair of the Feral Cat Spay and Neuter Project in Lynnwood, WA, a small non-profit near and dear to her heart.
                                    </p>
                                    <p>
                                        Dr. Willis was named the WSVMA Veterinarian of the Year in 2015.
                                    </p>
                                    <p>
                                        Dr. Willis serves as staff for kittens Fiona and McTavish, and young-at-heart kitties Giselle and Lily. Dr. Willis’ hobbies are hiking and cycling, traveling, wine appreciation, the arts and reading.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center customized-recommend">
            <h2 class="brown">
                Get a customized recommendation
            </h2>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="flag red">How it works</span>
                    </div>
                    <div class="col-sm-8 text-left">
                        <p>
                            Simply tell us a little bit about your pet and we'll recommend a customized nutrition plan.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="flag red">What's inside</span>
                    </div>
                    <div class="col-sm-8 text-left">
                        <p>
                            A variety of food, supplements, treats and more - customized to the needs of your pet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img alt="Profile Image Alt Text" src="/bento/uploads/homepage/201607/homeprofile.png" />
            </div>
            <a class="btn btnblue" data-target="#species-modal" data-toggle="modal">CREATE A PROFILE</a>
        </div>
    </div>
</div>


