
@{
    ViewBag.Title = "MeetTheTeam";
}

<div class="row team">
    <div class="col-md-12">
        <div class="row team-intro text-center tan1 background">
            <div class="col-md-12">
                <div class="inner">
                    <h2 class="brown">
                        Meet The Team
                    </h2>
                    <h4 class="brown">
                        We love what we do!
                    </h4>
                    <p>
                        Our passionate leadership team is comprised of seasoned experts, dedicated to providing the best quality product and support to pet parents and their pets. We don't take for granted the industry standards, but are constantly researching to increase our knowledge as the industry evolves. Our leadership team is committed to meeting the unique needs of pet parents while providing them with an opportunity to make a difference not only in the lives of our pets but also in the lives of our families and our communities.
                    </p>
                </div>
            </div>
        </div>
        <div class="row team-members tan1 background">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="team-member">
                    <div class="hover">
                        <img alt="Roger Morgan" src="/bento/img/team/roger.png" title="Roger Morgan" />
                        <p class="name">
                            <strong>Roger Morgan</strong>
                        </p>
                        <p class="title">
                            <strong>Founder, CEO</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Roger served as President and CEO of The Retail Products Group (RPG) manufacturing and selling pet products to retailers from 2005 to 2012.
                                    </p>
                                    <p>
                                        Before joining RPG, Roger gained business strategy experience with the Boston Consulting Group (BCG). During his tenure at BCG, he optimized growth strategies for multinational consumer goods and retail organizations, including two years working abroad in Paris, France.
                                    </p>
                                    <p>
                                        His prior work experience also includes positions at Walt Disney Imagineering in business strategy and KPMG LLP where he obtained his CPA.
                                    </p>
                                    <p>
                                        He served as the Chairman of the American Pet Products Association (APPA) from 2011 to 2013 and is currently on the board of APPA. He has formerly served on the boards of directors of PetSmart Charities and the Pet Industry Joint Advisory Council (PIJAC).
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        He holds an MBA from Harvard Business School and a B.S. in accounting and a Minor in music from Brigham Young University, graduating summa cum laude.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        His wife and three daughters; playing the drums; songwriting; public speaking to youth groups; and playing with Bella and JoJo!
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        People. All people.
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        Whether you think you can, or whether you think you can't, you're right!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Melissa Davis" src="/bento/img/team/melissa.png" title="Melissa Davis" />
                        <p class="name">
                            <strong>Melissa Davis</strong>
                        </p>
                        <p class="title">
                            <strong>Sales</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Melissa has over 20 years of experience in social selling, direct sales, and network marketing with a unique blend of highly successful field as well as corporate experience.
                                    </p>
                                    <p>
                                        She has held corporate training and sales management positions with major DSA companies including Arbonne International, Immunotec, Inc. and Excel Communications.
                                    </p>
                                    <p>
                                        As an independent representative in the field, she was a top-ten money earner every year and was recognized as the top field trainer for her company.
                                    </p>
                                    <p>
                                        Melissa has trained for premier motivational speakers and is an excellent trainer, writer and public speaker with a passion for helping others succeed.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        She holds an M.S.S.W. from the Kent School of Social Work from University of Louisville and a B.A. in psychology with a Minor in human services from Western Kentucky University.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        Making a difference! Reading, spending time in nature, experiential training seminars, adventure travel, learning new things and anything related to animals.
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        God, her hubby and family, and all of her animal babies, and life!
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        You can have anything you want in life when your desires become greater than your fears.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Brooke Sloate" src="/bento/img/team/brooke.png" title="Brooke Sloate" />
                        <p class="name">
                            <strong>Brooke Sloate</strong>
                        </p>
                        <p class="title">
                            <strong>Product Marketing</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Brooke has over 20 years of experience developing a wide range of innovative pet products including pet food and treats as well as pet accessories.
                                    </p>
                                    <p>
                                        She learned from some of the best in the pet industry as she worked for a variety of pet companies including Nature's Variety, Hills, Mars, Petmate, Applica and Sergeant's. She also worked for Tupperware early in her career where she was first introduced to the powerful model of direct selling.
                                    </p>
                                    <p>
                                        She is an accomplished marketing executive with diversified experience in marketing, advertising and sales and has worked on both the corporate side with leading Fortune 500 and the agency side of marketing.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        She earned a Bachelor of Science in Business Administration with a Major in Marketing from the University of Southern California, Los Angeles, CA.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        Her dogs because they are such a positive force in her life. Creating things that make a difference to pet parents. Traveling to new places, and time with close friends.
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        All pets - especially hers!
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        If you are passionate about it, pursue it, that's how dreams are achieved.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Eric Uhtenwoldt" src="/bento/img/team/eric.png" title="Eric Uhtenwoldt" />
                        <p class="name">
                            <strong>Eric Uhtenwoldt</strong>
                        </p>
                        <p class="title">
                            <strong>Operations and Pro Support</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Eric has more than 20 years of experience in operations with a majority of those in the pet industry.
                                    </p>
                                    <p>
                                        He is a results-driven leader with experience in shipping and distribution, logistics, sourcing and procurement, IT, plant management, warehouse management and project management.
                                    </p>
                                    <p>
                                        His background includes consumer products, contract packaging, converting and manufacturing for a variety of different industry segments.
                                    </p>
                                    <p>
                                        Eric has extensive experience in change management and ERP implementation and develops and implements objectives to drive performance excellence, consistently saving costs and exceeding goals and targets in diverse manufacturing/distributing environments.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        Eric did his graduate studies in chemistry at the University of Tennessee, Knoxville.
                                    </p>
                                    <p>
                                        He has a B.S. in chemistry from Hampden-Sydney College.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        Learning new things and solving puzzles; enjoying life and the people in his life.
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        His beautiful wife and partner; their four kids; laughter and spending time with friends.
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        Learn from yesterday, enjoy today, be hopeful for tomorrow.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Tami VanHoy" src="/bento/img/team/tami.png" title="Tami VanHoy" />
                        <p class="name">
                            <strong>Tami VanHoy</strong>
                        </p>
                        <p class="title">
                            <strong>Field Development</strong>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Tami has over 15 years of experience in the social selling / direct selling industry and brings a wealth of knowledge and capability to pawTree.
                                    </p>
                                    <p>
                                        She founded Homemade Gourmet Inc., a party plan company, and built it from the ground up, where she served as CEO.
                                    </p>
                                    <p>
                                        She is skilled in public speaking and training, with 12+ years of experience in front of both large and intimate audiences.
                                    </p>
                                    <p>
                                        She has given training presentations at the Direct Selling Association's annual conferences and was featured on a CEO panel during general session.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        She majored in music and theater performance and worked over 10 years in the entertainment industry as a featured singer / performer in musical theater, theme park musical productions and on cruise ships.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        Her husband; four children and grandchildren; game nights with the family; singing; and trying new recipes in the kitchen.
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        Living life fully plugged into the people around her and the important moments that make a difference in those lives.
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        Honor others above yourself and make a difference wherever you go.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-member">
                    <div class="hover">
                        <img alt="Katie Middleton" src="/bento/img/team/katie.png" title="Katie Middleton" />
                        <p class="name">
                            <strong>Katie Middleton</strong>
                        </p>
                        <p class="title">
                            <b>Social Media</b>
                        </p>
                        <div class="team-bio text-left">
                            <a class="close" href="javascript:void(0)">X</a>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Street Smarts</strong>
                                    </p>
                                    <p>
                                        Katie has over 10 years of experience and has held several positions with Waldman Bros and Northwestern Mutual Financial Network including an Account Executive in the Personal Lines Division of Waldman Bros and a Financial Representative with Northwestern.
                                    </p>
                                    <p>
                                        She is a three-time Ironman triathlete.
                                    </p>
                                    <p>
                                        She is very active in the community including the DFW Lab Rescue Group, August Dog Rescue Group, North Arlington Rotary, Junior League of Arlington, Ambassador with the Arlington Chamber of Commerce, TriJunkie USAT Coordinator &amp; Member.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="green">Book Smarts</strong>
                                    </p>
                                    <p>
                                        She has a degree in entrepreneurship and a professional degree in financial planning from University of North Texas.
                                    </p>
                                    <p>
                                        <strong class="green">Passion</strong>
                                    </p>
                                    <p>
                                        Her passion is animals! If she could work at a Zoo she would be in heaven.
                                    </p>
                                    <p>
                                        <strong class="green">Love</strong>
                                    </p>
                                    <p>
                                        She loves the great outdoors &amp; Mother Nature. She feels so happy to live a life surrounded by trees, beauty, clean air, and endless possibilities.
                                    </p>
                                    <p>
                                        <strong class="green">Motto</strong>
                                    </p>
                                    <p>
                                        Find out who you are and do it on purpose.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row paw-background text-center">
            <div class="col-md-12">
                <div class="inner">
                    <h2 class="brown">
                        Let pawTree Make A Difference In YOUR Life
                    </h2>
                    <h4 class="brown">
                        It feels good to do the right thing and even better when you share it with others. Making a difference never felt so good!
                    </h4>
                    <a class="btn btnblue" href="/become-a-petpro">Join Our Community of Pet Lovers</a>
                </div>
            </div>
        </div>
    </div>
</div>


