
@{
    ViewBag.Title = "PawClub";
}

<div id="joinpawclubPage">
    <div class="joinpawclub-hero">
        <h2 class="text-center">
            How Do I Join <nobr>Paw Club?</nobr>
        </h2>
        <ul class="hidden-sm hidden-xs checklist">
            <li class="clearfix">
                Set up an EZ Ship order with items you want delivered on a recurring basis.
            </li>
            <li class="clearfix">
                You are now a member of the Paw Club!
            </li>
        </ul>
    </div>
    <div class="row visible-sm visible-xs">
        <div class="col-xs-12 howjoinContainer">
            <ul class="checklist">
                <li class="clearfix">
                    Set up an EZ Ship order with qualifying items you want delivered on a recurring basis.
                </li>
                <li class="clearfix">
                    You are now a member of the Paw Club!
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 rewardingContainer background tan1">
            <h3 class="text-center brown">
                Membership Is Rewarding!
            </h3>
            <ul class="pawlist">
                <li class="clearfix">
                    Receive <span class="green">FREE SHIPPING*</span> when you have 3 or more qualifying items* in your EZ Ship order
                </li>
                <li class="clearfix">
                    Paw Points rewarded for every dollar you spend
                </li>
                <li class="clearfix">
                    Paw Points can be redemmed for toys, beds and other items to pamper your pet
                </li>
                <li class="clearfix">
                    Pow Points are DOUBLED after your third EZ Shipment
                </li>
                <li class="clearfix">
                    Receive a 25% off shipping on EZ Ship orders with less than 3 qualifying items*
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 freeshippingContainer background tan2">
            <div class="text-center">
                <h4 class="brown">
                    Free Shipping* is a perk of being a Paw Club Member
                </h4>
                <img alt="Qualify for FREE SHIPPING*" class="freeshipCaravan" src="/bento/img/freeship-caravan.png" title="Qualify for FREE SHIPPING*" />
                <div class="listContainer">
                    <h5 class="orange">
                        All You Need is 3!
                    </h5>
                    <p>
                        Any 3 items on EZ Ship (excluding cat food and dog food - canned or kibble)
                    </p>
                    <h5 class="orange">
                        With 3 Even Food Ships FREE
                    </h5>
                    <p>
                        Cat and dog food items now ship for free with the 3 qualifying items
                    </p>
                    <h5 class="orange">
                        A Few Exceptions...
                    </h5>
                    <p>
                        Beds or bowls do not ship free and cannot be one of the 3 qualifying items. A non EZ Ship order does not ship free.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="skinnyContentContainer">
        <div class="row">
            <div class="col-xs-12 ctaContainer text-center">
                <h3 class="brown">
                    It feels great to be a part of an amazing pet community!<br />
                    Come take a look at the options for getting started.
                </h3>
                <a class="btn btnblue" href="/become-a-petpro">Learn More</a>
            </div>
            <div class="row">
                <div class="col-xs-12 legalContainer text-center">
                    <p class="green">
                        Have a question? See our <a class="green" href="/faq">Paw Club FAQ</a>
                    </p>
                    <p class="legal">
                        *EZ Ship orders with at least three qualifying items receive free shipping on the entire order. Qualifying items include supplements, topicals, toys, collars, blankets, pawTreats, pawPairings and Potty &amp; Training etc. Excludes beds and bowls, which incur shipping chargers.
                    </p>
                    <p class="legal">
                        <strong>Note:</strong> Dog and cat food (canned or kibble) are not qualifying items, but will ship free with any qualifying EZ Ship order.
                    </p>
                </div>
            </div>
        </div>
    </div>


