
@{
    ViewBag.Title = "pawTree";
}

<div class="row pawtree-story">
    <div class="col-md-12">
        <div class="row story-hero">
            <div class="col-sm-4">
                <img alt="pawTree founder Roger Morgan with his pets" src="/bento/img/roger-story.jpg" />
            </div>
            <div class="col-sm-8 text-center">
                <div class="inner">
                    <h2 class="brown">
                        The pawTree<sup>®</sup> Story
                    </h2>
                    <h4 class="brown">
                        We’ve found a better way to do something; something so sensational that we’re bursting with excitement to share it with you!
                    </h4>
                    <p>
                        After nearly a decade as a CEO in the pet industry, our founder, Roger Morgan, discovered something so exciting and revolutionary that he left his job and began a journey to create a company committed to making a difference in the lives of pets and people.
                    </p>
                    <p>
                        He pulled together a top team of veterinarians and a Ph.D. in animal science and pet nutrition to help pet parents answer the age old question, &quot;What should I feed my pet?&quot; The result is what makes pawTree stand apart from the rest.
                    </p>
                    <div class="row listen">
                        <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
                            <p class="green">
                                Listen to Roger Morgan describe how pawTree is making a difference.
                            </p>
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <a class="btn btnorange btnvideo" target="_blank">Play Video <img alt="Play" src="/bento/img/play.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-wrap clearfix">
                <div class="video-container">
                    <a class="close">X</a> <video class="video-js vjs-16-9 vjs-big-play-centered" controls="" poster="/bento/video/Who_Is_Paw_Tree.jpg">
                        <source src="/bento/video/Who_Is_Paw_Tree.mp4" type="video/mp4">
                        <source src="/bento/video/Who_Is_Paw_Tree_baseline.mp4" type="video/mp4">
                        <source src="/bento/video/Who_Is_Paw_Tree.webm" type="video/webm">
                        <source src="Who_Is_Paw_Tree.ogv" type="video/ogg">
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                        </source></source></source></source>
                    </video>
                </div>
            </div>
        </div>
        <div class="row story-vision tan1 background text-center">
            <div class="inner">
                <h2>
                    Our vision is to create a world filled with unconditional love where pets and <em>their</em> people thrive.
                </h2>
            </div>
        </div>
        <div class="row story-hovers tan1 background">
            <div class="hover-box see">
                <div class="title text-center">
                    <p class="uppercase bold brown">
                        See a difference
                    </p>
                </div>
                <div class="image">
                    <img alt="See a difference" src="/bento/img/story-see.jpg" />
                    <div class="overlay text-center">
                        <p class="white vCenter">
                            See a difference in the health, vitality and look of your pet with the finest-quality natural and nutritious pet food, treats and supplements recommended based on your pet's unique needs, designed by our veterinarians and Ph.D. in Animal Science and Pet Nutrition.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hover-box feel">
                <div class="title text-center">
                    <p class="uppercase bold brown">
                        Feel a difference
                    </p>
                </div>
                <div class="image">
                    <img alt="Feel a difference" src="/bento/img/story-feel.jpg" />
                    <div class="overlay text-center">
                        <p class="white vCenter">
                            As a pet parent, feel the difference of knowing you are doing the right thing with a customized nutrition plan. Feel the difference when we take the guesswork out of making the right choices for your pet by simply filling out a pet profille. You’ll even feel the difference of seeing your pet’s name and picture printed on the food bag!
                        </p>
                    </div>
                </div>
            </div>
            <div class="hover-box make">
                <div class="title text-center">
                    <p class="uppercase bold brown">
                        Make a difference
                    </p>
                </div>
                <div class="image">
                    <img alt="Make a difference" src="/bento/img/story-make.jpg" />
                    <div class="overlay text-center">
                        <p class="white vCenter">
                            We made a choice to bring our products to market as a social sharing company. Each time you share pawTree with others, you are making a difference in the life of one or more pet's. When you join us as a petPro, our income opportunity makes a difference in the lives of people!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row story-join tan1 background text-center">
            <a class="btn btnblue" href="/become-a-petpro">Join Our Community of Pet Lovers</a>
        </div>
        <div class="row story-footer text-center">
            <div class="inner">
                <h2 class="brown">
                    pawTree<sup>®</sup> Is in the News!
                </h2>
                <p>
                    Don't take it from us, see what news media nationwide have to say about pawTree's revolutionary approach to pet health.
                </p>
                <p>
                    <a href="http://www.pawtree.com/blog/category/paw-news/in-the-news/" target="_blank">More News</a>
                </p>
            </div>

            <div class="col-xs-12">
                <div class="inthenewsItem">
                    <a href="http://directsellingnews.com/index.php/view/pawtree_paw_passion_a_holistic_approach_to_pet_nutrition" target="_blank"><img src="/bento/img/news/directsellingnews.gif" alt="Direct Selling News" title="Direct Selling News" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.dogfoodadvisor.com/dog-food-reviews/paw-tree-dog-food/" target="_blank"><img src="/bento/img/news/dogfoodadvisor.gif" alt="Dog Food Advisor" title="Dog Food Advisor" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.modernwellnessguide.com/lifestyle/woofs-and-whiskers-how-to-take-charge-of-your-pets-nutrition" target="_blank"><img src="/bento/img/news/usatoday.gif" alt="USA Today" title="USA Today" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.sheknows.com/pets-and-animals/articles/1077083/dream-jobs-for-dog-lovers" target="_blank"><img src="/bento/img/news/sheknows.gif" alt="She Knows" title="She Knows" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.petfoodindustry.com/articles/4308-pawtree-utilizes-social-selling-approach-to-pet-care" target="_blank"><img src="/bento/img/news/petfoodindustry.gif" alt="Petfood Industry" title="Petfood Industry" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.petguide.com/products/shops/dog/customized-dog-food-from-pawtree-has-your-dogs-name-all-over-it/" target="_blank"><img src="/bento/img/news/petguide.gif" alt="Petguide" title="Petguide" /></a>
                </div>
                <div class="inthenewsItem">
                    <a href="http://www.pawtree.com/blog/pawtree-wins-harvard-business-school-regional-new-venture-competition/ " target="_blank"><img src="/bento/img/news/harvard.gif" alt="Harvard" title="Harvard" /></a>
                </div>
            </div>

        </div>
    </div>
</div>
