
@{
    ViewBag.Title = "ProductVideos";
}

<h2 class="cms-page-title">
    Videos
</h2>
<div class="row videos text-center">
    <div class="col-md-12">
        <div class="row about-videos">
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/dYshlpTb-XQ?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    MY pawBox™ My Way
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/NversJotXNc?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Customized Nutrition: Hear From a Pet
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/UCCp1e2WTWI?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Customized Nutrition: Hear From a Vet
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/sUkL5cPA7LU?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Join Our Community
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/cC4mVoUw3PE?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Who Is pawTree?
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/DRzwNEYh-4A?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    How Do I Make Money?
                </p>
            </div>
        </div>
        <div class="row product-videos">
            <h2 class="brown">
                Product Videos
            </h2>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/0SmTzGGgJrU?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    pawPairings Superfood Seasoning
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/LP1gfa2Kqjg?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    pawTreats
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/eIlhNWQVgqM?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Pet Food
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/RJ19feeXbGE?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Dental Sticks
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/U3uLDgSoQjs?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Joint Support Plus
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/wyfP75tFaGU?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Gastro Pro Plus
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/Fw5q1q-O5Jo?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Wild Alaskan Salmon Oil
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/MjI71BlyhN4?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Skin Support Plus
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/Rn4kAJtKDbQ?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Flea &amp; Tick Spray
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/N0e-ZyrX6bE?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Urine Eliminator and Oxy Shot
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/MhUf2UrTrlQ?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Bring Love Home
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/8FBkawv0Hj0?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Bring Love Home Vignette Bonnie
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/Hpbupse3Tfs?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Bring Love Home Vignette Meg
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/8xOTFl4tdSM?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Bring Love Home Vignette Tug
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrap">
                    <iframe allowfullscreen="" frameborder="0" height="480" src="https://www.youtube.com/embed/rXIAKofJq3o?rel=0&amp;showinfo=0" width="853"></iframe>
                </div>
                <p>
                    Shake IT UP
                </p>
            </div>

        </div>
    </div>
</div>


