
@{
    ViewBag.Title = "WhyPawtree";
}

<div class="row why-pawtree">
    <div class="col-md-12">
        <div class="row why-pawtree-hero">
            <div class="col-sm-5">
                <img alt="The pawTree product family" src="/bento/img/new-product-family.jpg" />
            </div>
            <div class="col-sm-7 text-center">
                <div class="inner">
                    <h2 class="brown">
                        Our Nutrition Philosophy – It’s The pawTree Difference
                    </h2>
                    <p>
                        At pawTree, our philosophy about nutrition starts with our belief that pet nutrition shouldn’t just help your pets survive, it should help your pets thrive!
                    </p>
                    <p>
                        With pawTree, you can feel confident that the quality and care put into the development of every product means every bag is packed with the wholesome goodness your pets need to live healthy, vibrant lives.
                    </p>
                </div>
            </div>
        </div>
        <div class="row why-pawtree-bullets tan1 background">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <h3 class="brown text-center">
                    We Accomplish This in a Variety of Ways:
                </h3>
                <p class="bullet icon clipbrd">
                    <strong>Complete and balanced Customized Nutrition Plans</strong> developed for every pet’s unique needs.
                </p>
                <p class="bullet icon check">
                    <strong>Plan recommendations</strong> are created from an algorithm developed by our experienced panel of Veterinarians and Ph.D. in Animal Nutrition.
                </p>
                <p class="bullet icon leaf">
                    <strong>Natural and holistic approach</strong> to product development.
                </p>
                <p class="bullet icon grain">
                    <strong>Premium natural products at comparable price.</strong> Like most things in life, you get what you pay for. That’s why it’s important to provide your pet with quality nutrition. While some brands use inexpensive fillers and poultry by-products, pawTree uses only the best ingredients. Nourishing your dog with a high-quality brand will lead to a long, healthy, vibrant life for your four-legged friend and less time at the vet’s office. Three key things affect our pet’s health—genetics, nutrition and luck. We can’t affect genetics, and we can’t affect luck, but we CAN affect nutrition. It’s very important to feed a proper diet and supplement as necessary.
                </p>
                <p class="bullet icon ez-ship">
                    <strong>EZ Ship convenience.</strong> Your order is delivered to your door precisely when your pet needs it. Based on your pet’s profile, you’ll receive your recommended EZ Ship cycle. Unlike other autoship programs, we know with precise certainty how much your pets need and when they need it. You can add, delete, or modify items at any time. You’ll never have to worry about running out of food, or needing to go to the store – we manage it for you, and deliver it right to your door!
                </p>
                <p class="bullet icon guarantee">
                    <strong>100% Satisfaction Guarantee.</strong> There’s no risk! If you or your pets don’t like it, we’ll give you your money back. pawTree offers a 100% money back guarantee on products for 90 days from the date of sale. We want you and your pets to be completely happy and satisfied. How can we do that? It’s simple, we are confident you’ll experience the pawTree Difference, and when you do, we hope you’ll share it with others!
                </p>
            </div>
        </div>
        <div class="row why-pawtree-promise">
            <img alt="The pawTree Promise" src="/bento/img/pawtree-promise.png" />
        </div>
        <div class="row why-pawtree-reasons">
            <h3 class="brown text-center">
                20 Reasons pawTree Dog and Cat Food is a Better Way
            </h3>
            <br />
            <div class="col-sm-6">
                <h6 class="orange icon dont">
                    What We Don't Have
                </h6>
                <ol>
                    <li>
                        No poultry by-products
                    </li>
                    <li>
                        No corn, no wheat, no soy
                    </li>
                    <li>
                        No added sugars or sweeteners
                    </li>
                    <li>
                        No artificial colors, flavors or preservatives
                    </li>
                    <li>
                        No grains in our grain-free recipes, and only healthy grains in our other recipes
                    </li>
                </ol>
                <br />
                <br />
                <br />
                <img alt="pawTree cat and dog" src="/bento/img/why-cat-dog.jpg" />
            </div>
            <div class="col-sm-6">
                <h6 class="green icon check">
                    What We Do Have
                </h6>
                <ol start="6">
                    <li>
                        Customized nutrition plans
                    </li>
                    <li>
                        Natural and holistic
                    </li>
                    <li>
                        Real meat, poultry or fish is the first ingredient
                    </li>
                    <li>
                        High-quality protein
                    </li>
                    <li>
                        Antioxidant-rich formulas to help support a healthy immune system
                    </li>
                    <li>
                        Contains prebiotics to support a healthy digestive tract
                    </li>
                    <li>
                        Contains taurine to support heart and eye health
                    </li>
                    <li>
                        Contains Omega-3 and Omega-6 fatty acids for a healthy skin and coat
                    </li>
                    <li>
                        Natural source of DHA – supports healthy brain development
                    </li>
                    <li>
                        Complete and balanced nutrition
                    </li>
                    <li>
                        Formulated for reduced stool volume
                    </li>
                    <li>
                        A good source of natural Glucosamine to help maintain joint health
                    </li>
                    <li>
                        Balanced Calcium and Phosphorus for bone and tooth health
                    </li>
                    <li>
                        Developed by Veterinarians and Nutritionists
                    </li>
                    <li>
                        Made in the U.S.A.
                    </li>
                </ol>
            </div>
        </div>
        <div class="row why-pawtree-video">
            @*{block identifier='videowrap-customizednutrition'}*@
            <div class="video-placeholder">
                <div class="video-poster" style="background-image: url('/bento/video/PawTree_Customized_Nutrition_poster.jpg');"></div>
                <div class="video-playbutton">
                    <a class="fa fa-youtube-play" aria-hidden="true" href="#" data-toggle="modal" data-target="#video-customizednutrition"></a>
                </div>
                <div class="text-overlay">
                    <div class="content">
                        <h2 class="white text-center">
                            The pawTree Difference Includes Customized Help
                        </h2>
                        <h4 class="white text-center">
                            We also know that as a pet parent, it can be overwhelming to decide what to feed your pets.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal fade video-modal" tabindex="-1" role="dialog" id="video-customizednutrition">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="video-wrap">
                                <div class="video-container">
                                    <video class="video-js vjs-16-9 vjs-big-play-centered" controls="" poster="/bento/video/PawTree_Customized_Nutrition_poster.jpgg">
                                        <source src="/bento/video/PawTree_Customized_Nutrition.mp4" type="video/mp4" />
                                        <source src="/bento/video/PawTree_Customized_Nutritionbaseline.mp4" type="video/mp4" />
                                        <source src="/bento/video/PawTree_Customized_Nutrition.webm" type="video/webm" />
                                        <source src="/bento/video/PawTree_Customized_Nutrition.ogv" type="video/ogv" />
                                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        <div class="row why-pawtree-footer text-center">
            <div class="inner">
                <h3 class="brown">
                    At pawTree, We Take The Guesswork Out of Pet Nutrition
                </h3>
                <p>
                    Simply tell us about your pet by completing your pet's profile. Based on the information you provide, we will recommend a customized nutrition plan developed by our experienced Veterinarians and Ph.D. in Animal Nutrition catering to your pet's specific needs.
                </p>
                <a class="btn btnblue" data-target="#species-modal" data-toggle="modal">Create A Profile</a>
            </div>
        </div>
    </div>
</div>


